<div class="flex flex-wrap w-full">

    {% if countShelters is defined %} 
        {% if countShelters > 0 %}
            <div class="w-full h-8 flex items-center pl-4 pb-4 ">
            <p class=' text-lg'>Nous avons trouvé : <strong>{{ countShelters }}</strong> gîte(s) correspondant à vos critères</p>
        </div>    
        {% endif %}
    {% endif %}

    <div class="w-full flex flex-wrap">
        {% for shelter in shelters %}
            {% include "_partials/_shelter_card.html.twig" %}
        {% endfor %}
    </div>
</div>