<div class="justify-around px-52 pt-3 h-48 filters hidden">
    <div class="flex flex-col items-center w-2/6">
        <h2>Intérieur</h2>
        {{ form_row(formSearch.interior, {
            row_class: 'flex justify-center w-full h-4/6',
            widget_class:' w-4/5  rounded criteria hidden'
        }) }}
    </div>
    <div class="flex flex-col items-center w-2/6">
        <h2>Extérieur</h2>
        {{ form_row(formSearch.exterior, {
            row_class: 'flex justify-center w-full h-4/6',
            widget_class:'w-4/5  rounded criteria hidden'
        }) }}
    </div>
    <div class="flex flex-col items-center w-2/6">
        <h2>Services</h2>
        {{ form_row(formSearch.services, {
            row_class: 'flex justify-center w-full h-4/6',
            widget_class:'w-4/5  rounded criteria hidden'
        }) }}
    </div>
</div>