<footer class="flex flex-col items-center">
    <hr class="h-px w-full">
    <div class="flex items-center justify-between w-4/5 h-12 text-slate-900">
        <p><i class="fa-regular fa-copyright"></i> Projet d'étude : DWWM - Afpa "Territoire Digital"</p>
        <p>Fanny Baquey</p>
        <a href="">Confidentialité</a>
        <a href="">Politique générale</a>
        <a href="">Contacter</a>
    </div>
</footer>