<nav class="h-20 flex justify-between md:justify-around">

    <a href="{{'/'}}" class="w-2/6 md:w-3/12 h-20 ml-4 md:ml-0 flex items-center justify-center">
        <img src="{{ asset('/images/logo/logo-progica.png') }} " alt="Logo Progica" class="max-h-16">
    </a>

    <div class="w-5/12 hidden md:flex items-center">
        <p class="font-light text-lg">Échappez à la routine, louez un <span class='font-bold text-txtBlueDark'>gîte</span> de rêve !</p>
    </div>

    <div class="w-2/6 med:w-4/12 items-center justify-center hidden">
        <div class="w-auto h-14 px-2 py-0 md:mr-5 md:border-4 rounded-full border-borderColorLight flex items-center">
            <div class="relative -left-4">
                <img src=" {{ asset('/images/users/1.jpg') }} " alt="Avatar de l'utilisateur" class="h-16 border-4 border-borderColorLight rounded-full">
            </div>
            <div class="hidden md:inline md:relative pr-3">
                <a href="" class="">
                    <p id="name-id" class="font-bold">Mario Dupond</p>
                    <p id="type-id" class='text-sm font-semibold'>Propriétaire</p> 
                </a>                      
            </div>
        </div>
        <i class="fa-solid fa-arrow-right-from-bracket text-2xl text-txtBlueDark cursor-pointer duration-500 hover:text-txtBlueLight"></i>
    </div>
    
    <div class="w-2/6 flex lg:hidden justify-center items-center">
        <i class="fa-solid fa-bars text-3xl cursor-pointer hover:text-txtBlueDark duration-700"></i>
    </div>

    <div class="hidden flex items-center justify-center absolute z-30 lg:relative h-20 w-full lg:w-2/6 top-20 lg:top-0 lg:flex bg-bgGolorGrayLight menuBurger">
        <a href="" class="btn btn-primary mr-4">Inscription</a>
        <a href="" class="btn btn-secondary">Connexion</a>
    </div>




</nav>