{% form_theme formSearch 'tailwind_2_layout.html.twig' %}

<div class="h-20 flex justify-center items-center searchbar">
    <div class="searchbar-txt">
        <p>Je recherche un gîte</p>
    </div>
    <div class="flex justify-center items-center h-full ml-6 searchbar-ctn">
        {{ form_start(formSearch) }}
            <div class="flex">
                {{ form_rest(formSearch) }}
            </div>
        {{ form_end(formSearch) }}
    </div>
    {# <div class="ml-6 searchbar-btn">
        <button class="font-bold btn btn-primary btn-filter">
            <i class="fa-solid fa-plus"></i>
            de filtres
        </button>
        <button class="font-bold btn btn-secondary">
            <i class="fa-solid fa-magnifying-glass"></i>
            Rechercher
        </button>
    </div> #}
</div>

