<div class="h-20 flex justify-center items-center searchbar">
    <div class="searchbar-txt">
        <p>Je recherche un gîte</p>
    </div>
    <div class="flex justify-center items-center h-full ml-6 searchbar-ctn">
        <div class="flex items-center justify-center h-3/5 searchbar-ctn-field">
            <input type="text" name="" class="w-5/12 border-none rounded-l-full searchbar-ctn-field-input" placeholder="Ville, département, région...">
            <input type="number" name="" class="w-2/12 mr-4 border-none rounded-r-full searchbar-ctn-field-person" placeholder="Nb d'adultes">
            <div
                class="relative w-2/12 mr-3"
                data-te-datepicker-init
                data-te-input-wrapper-init>
                <input
                    type="text"
                    class="peer block min-h-[auto] w-full border-0 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-1"
                    placeholder="Date d'arrivée" />
                <label
                    for="floatingInput"
                    class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                    >Date d'arrivée</label>
             </div>
            <div
                class="relative w-2/12"
                data-te-datepicker-init
                data-te-input-wrapper-init>
                <input
                    type="text"
                    class="peer block min-h-[auto] w-full border-0 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                    placeholder="Date de départ" />
                <label
                    for="floatingInput"
                    class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                    >Date de départ</label>
            </div>
            
        </div>
    </div>
    <div class="ml-6 searchbar-btn">
        <button class="font-bold btn btn-primary btn-filter">
            <i class="fa-solid fa-plus"></i>
            de filtres
        </button>
        <button class="font-bold btn btn-secondary">
            <i class="fa-solid fa-magnifying-glass"></i>
            Rechercher
        </button>
    </div>
</div>

