#search_interior,
#search_exterior,
#search_services {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 5px 15px;
    width: 90%;
}

#search_interior label,
#search_exterior label,
#search_services label {

    &:hover {
        background-color: $border-color-light;
        cursor: pointer;
    }
}

.activeFilter {
     background-color: $border-color-light;
     font-weight: 500;
}
