.navbar {
    &-logo {
        img {
            max-height: 60px;
        }
    }

    &-profile {
        &-ctn {
            border-color: $border-color-light;

            &-img {
                left: -15px;

                img {
                    border-color: $border-color-light;
                }
            }
        }


        i {
            color: $text-blue-dark;
            transition: $transition-smooth !important;

            &:hover {
                cursor: pointer;
                color: $text-blue-light;
                
            }
        }
    }
}