.searchBarActive {

    backdrop-filter: blur(8px);
    background-color: $bg-color-gray-light;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    position: absolute;
    height: 350px;
    margin: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    form {

        display: flex;
        height: 95%;
        justify-content: center;
        padding: 10px 0;

        div {

            background-color: white;
            border-radius: 25px;
            flex-direction: column;
            height: inherit;
            justify-content: space-evenly;
            margin: 15px 0 0;
            padding: 15px 0 0;
            width: 80%;

            p {
                display: inline;
            }

            i {
                color: $text-blue-dark;
                display: inline;
                font-size: 2rem;
                position: absolute;
                right: 1rem;
                top: 1rem;

                    &:hover {
                    cursor: pointer;
                    }
            }

            select {
                background-color: $bg-color-gray-light;
                border: 1px solid #adadad;
                width: 100%;
            }
        }
    }
}
