{% extends 'base.html.twig' %}

{% block body %}

    <div class="flex flex-wrap flex-col justify-center items-center max-w-screen-2xl mt-36 lg:mt-48 h-full mx-auto mb-10">
        
        <h2 class="text-2xl mb-8 mx-4 text-center text-txtBlueDark font-medium">Bonjour, pour accéder à votre profil, veuillez vous connecter</h2>
        
        <div class="flex flex-col bg-bgGolorGrayLight py-4 px-8 w-4/5 rounded-2xl  max-w-xl">
            {% include "security/_login_form.html.twig" %}
        </div>
    </div>

{% endblock %}
