{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

    <div class="flex flex-wrap flex-col justify-center items-center max-w-screen-2xl mt-44 lg:mt-48 h-full mx-auto mb-10">
        <h2>Login</h2>

        <form action="{{ path('login') }}" method='post'>
            <label for="email">Email</label>
            <input type="text" name="_username" id="email" value=" {{ username }} ">

            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password">

            <button class="btn btn-primary">Se connecter</button>
        </form>

        {% if error %}
            <div> {{ error.messageKey }} </div>
        {% endif %}
        
    </div>

{% endblock %}
