{% form_theme formSearch 'tailwind_2_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    <div class="flex flex-wrap flex-col justify-center items-center max-w-screen-2xl mt-44 lg:mt-48 h-full mx-auto mb-10">
        <div class="flex flex-col items-center w-3/5 mb-8">
            <h2 class="text-2xl mb-2">Pourquoi s'inscrire sur Progica ?</h2>
            <p><strong>Maximisez vos revenus</strong> en mettant votre gîte en location sur Progica. Rejoignez notre plateforme conviviale et atteignez des voyageurs du monde entier.</p>
        </div>
        <div class="bg-bgGolorGrayLight w-2/5 py-4 px-8 flex flex-col items-center rounded-2xl">
            {{form_start(signinForm)}}
                {{form_rest(signinForm)}}
                <button class="btn btn-primary">S'inscrire</button>
            {{form_end(signinForm)}}
        </div>
    </div>
{% endblock %}
