<div class="flex flex-wrap w-full">

    {% if (countShelters is defined) and (countShelters > 0) and (countShelters < totalShelters) %} 
            <div class="w-full h-8 flex items-center pl-4 pb-4 ">
                <p class='text-lg'>Nous avons trouvé : <strong>{{ countShelters }}</strong>{{ countShelters == 1 ? ' gite' : ' gites'}} correspondant à vos critères</p>
            </div>
    {% elseif (countShelters is defined) and (countShelters == 0) %}
            <div class="w-full h-8 flex items-center pl-4 pb-4 ">
                <p class='text-lg'>Nous avons pas trouvé de gîte correspondant à vos critères, veuillez effectuer une nouvelle recherche</p>
            </div>
    {% endif %}

    <div class="w-full flex flex-wrap">
        {% for shelter in shelters %}
            {% include "home/_shelter_Card.html.twig" %}
        {% endfor %}
    </div>
</div>