{% extends 'base.html.twig' %}

{% block title %}Progica - Echappez à la routine, louez un gîte de rêve{% endblock %}

{% block body %}

    <div id="content" class="flex flex-wrap max-w-screen-2xl mt-44 lg:mt-48 mx-auto mb-10">
        {% include "_partials/_content.html.twig" %}    
    </div>

{% endblock %}
