{% extends 'base.html.twig' %}

{% block body %}

    {% include "partials/searchbar/searchbar.html.twig" %}

    <div id="content" class="flex flex-wrap max-w-screen-2xl mt-44 lg:mt-48 mx-auto mb-10">
        {% include "home/_home_search_results_dynamic.html.twig" %}    
    </div>

{% endblock %}
