{% extends 'base.html.twig' %}

{% block title %}Progica - Echappez à la routine, louez un gîte de rêve{% endblock %}

{% block body %}

    <div id="content" class="mt-8 flex flex-wrap">
        {% include "_partials/_content.html.twig" %}    
    </div>

{% endblock %}
