/** text colors */
$text-blue-dark: #2EC4B6;
$text-blue-light: #40ffec;
$text-gray: #5f5f5f;

/** Font  */
$text-font : 'Roboto', sans-serif;

/** Borders */

$border-color-light : #CBF3F0;


/** Transitions */

$transition-smooth : 0.5s;