{% extends 'base.html.twig' %}

{% block title %}Progica - Echappez à la routine, louez un gîte de rêve{% endblock %}

{% block body %}
<div class="flex giteShow mt-10">
    
    <div class="w-10/12 mx-3 giteShow-card">
        <h1 class="text-center text-3xl mb-6 giteShow-card-title">Nom du gite</h1>
        <div class="container w-4/5 mx-auto py-2 giteShow-card-gallery">
            <div class="-m-1 flex flex-wrap md:-m-2">
                <div class="flex w-1/2 flex-wrap">
                    <div class="w-1/2 p-1 md:p-2">
                        <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp" />
                    </div>
                    <div class="w-1/2 p-1 md:p-2">
                        <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(72).webp" />
                    </div>
                    <div class="w-full p-1 md:p-2">
                        <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                    </div>
                </div>
                <div class="flex w-1/2 flex-wrap">
                    <div class="w-full p-1 md:p-2">
                        <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(74).webp" />
                    </div>
                    <div class="w-1/2 p-1 md:p-2">
                        <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp" />
                    </div>
                    <div class="w-1/2 p-1 md:p-2">
                        <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(77).webp" />
                    </div>
                </div>
            </div>
        </div>
        <div class="giteShow-card-desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus excepturi ipsum quis animi perspiciatis et repellat sunt numquam officia! Sapiente, optio ipsa aspernatur porro harum facere rem nihil rerum ad et dolor voluptatem nesciunt provident quos sed quasi omnis iusto, expedita voluptates pariatur consectetur sequi libero earum. Reiciendis assumenda repellendus excepturi vitae, sunt id debitis facilis voluptatibus inventore est asperiores ab tenetur quisquam molestiae obcaecati voluptatem earum libero numquam. Ipsum pariatur illum laudantium repellat esse facilis! Laborum aperiam iure asperiores illo error obcaecati necessitatibus voluptatum rem! Quibusdam nostrum atque sed dolores perferendis, optio odit eos numquam? Repudiandae dolorem sunt distinctio iure possimus velit mollitia, at harum hic dolore dicta dolores molestias, asperiores nam blanditiis minima tempore iste ex tenetur molestiae ad pariatur sint cum. Itaque necessitatibus reiciendis dolores quo voluptatem non repellendus quia facere iure? Adipisci ratione assumenda sequi iure incidunt odio eum porro totam neque, placeat exercitationem tenetur in sed ipsam, eius corporis. Ut harum assumenda sapiente dolorem adipisci architecto omnis autem tempore sint perspiciatis ratione incidunt dolorum iure facilis, cupiditate magni culpa, aliquam sequi eos tempora velit temporibus nisi impedit? Ipsum quibusdam non deleniti totam deserunt, reprehenderit, possimus recusandae, voluptatum ipsam omnis eligendi necessitatibus iure tempora laboriosam suscipit.</p>
        </div>
        <div class="giteShow-card-services">
            <ul>
                <li>Services</li>
                <li>Services</li>
                <li>Services</li>
                <li>Services</li>
                <li>Services</li>
                <li>Services</li>
                <li>Services</li>
            </ul>
        </div>
        <div class="giteShow-card-calendar">

        </div>
    </div>
    
    <div class="w-2/12 giteShow-contact">
        <div class="fixed w-48 h-52 giteShow-contact-card">
            <div class="giteShow-contact-card-prices">
                <h2>Périodes</h2>
                <h3>Hiver</h3>
                <p>200€ / nuits</p>
            </div>
            <div class="giteShow-contact-card-owner">
                <h2>Nom du propriétaire</h2>
                <p>Horaires de contact</p>
                <button class="btn btn-secondary">Contacter</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
