<div class="w-2/6 flex lg:hidden justify-center items-center">
    <i class="fa-solid fa-bars text-3xl cursor-pointer hover:text-txtBlueDark duration-700"></i>
</div>

<div class="hidden flex items-center justify-center absolute z-50 lg:relative h-20 w-full lg:w-2/6 top-20 lg:top-0 lg:flex bg-bgGolorGrayLight lg:bg-transparent shadow-shadowFilters lg:shadow-none menuBurger ">
    <a href="{{ path('signup')}}" class="btn btn-primary mr-4">Inscription</a>
    <a href="{{ path('login' )}}" class="btn btn-secondary mr-4">Connexion</a>
</div>