<div class="w-full md:max-w-screen-sm flex xl:hidden items-center justify-center">
    <button class="btn-search flex items-center justify-between">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="absolute left-1/2 -translate-x-2/4 w-4/5 search-btn">
            <p class="">Je recherche un gîte</p>
            <small class="font-light">par région, département ou ville</small>
        </div>
        <i class="fa-solid fa-sliders z-50 border-gray-300 border p-3 rounded-full"></i>
    </button>
</div>