{% form_theme formSearch 'tailwind_2_layout.html.twig' %}

{% if app.request.attributes.get('_route') == 'shelter_show' %}

    {% include "partials/searchbar/_searchbar_shelter_show.html.twig" %}

{% else %}
    
    <div class=" h-24 fixed top-20 w-full z-30 bg-bgGolorGrayLight flex justify-center items-center">
    
    <div class="hidden xl:inline text-txtGray">
        <p>Je recherche un gîte</p>
    </div>
    
    {% include "partials/searchbar/_searchbar_responsive_button.html.twig" %}

    <div id="container-search" class="hidden xl:flex justify-center items-center h-full ml-6">
        {{ form_start(formSearch) }}
            <div class="flex items-center">

                {% include "partials/searchbar/_searcbar_form.html.twig" %}
      
                <button class="hidden xl:inline font-bold btn btn-primary btn-filter"><i class="fa-solid fa-plus text-xl"></i> de filtres</button>
                
            </div>
        </div>
    </div>

    {% include "partials/searchbar/_searchbar_filters.html.twig" %}

    {{ form_end(formSearch) }}

{% endif %}




