<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Progica - Echappez à la routine, louez un gîte de rêve {% endblock %}</title>
        <link rel="icon" href="/images/favicon/android-chrome-512x512.png">

        <script src="https://kit.fontawesome.com/ff863e61b5.js" crossorigin="anonymous"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    
    <body>
        {% include "partials/_header.html.twig" %}
        
        <div class="app-content h-auto">
    
            {% block body %}{% endblock %}
        </div>

        {% include "partials/_footer.html.twig" %}
    </body>
</html>
