@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/** Texts */

* {
    font-family: $text-font;
}

/** Titles */

h2 {
    font-size: 1.2rem;
    color: $text-blue-dark;
    font-weight: 600;
}

/** Components */
/** Navbar */

// Navbar-slogan
.navbar-span {
    color: $text-blue-dark;
}

// Navbar profile
#name-id {
    color: $text-blue-dark;
}
#type-id {
    color: $text-gray;
}

/** SearchBar */
.searchbar-txt p {
    color: $text-gray;
}

/** FilterBar */
.filters-checkbox-clm-items-label {
    color: $text-gray;
}
